Dockerfiles/nifi/templates/progetto_1.6.json
{"flowContents":{"identifier":"475a4750-73ea-3488-af7a-f472ba52242c","instanceIdentifier":"9d1655a4-018f-1000-ad99-72ebbfe289db","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c27c29cb-a1fd-3d53-ab42-dd423a6ed52f","instanceIdentifier":"48d4cc99-51c2-3773-1521-1c964014c1a3","name":"PutParquet","comments":"","position":{"x":360.0,"y":911.0},"type":"org.apache.nifi.processors.parquet.PutParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.26.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/hdfs-config/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-config/hdfs-site.xml","max-padding-size":null,"avro-write-old-list-structure":"true","Additional Classpath Resources":null,"permissions-umask":null,"remote-group":null,"row-group-size":null,"remote-owner":null,"enable-dictionary-encoding":null,"kerberos-credentials-service":null,"page-size":null,"writer-version":null,"Kerberos Keytab":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"Kerberos Principal":null,"kerberos-user-service":null,"record-reader":"60c81aef-64a2-3cd1-8803-e2e49f7749d8","Kerberos Relogin Period":"4 hours","overwrite":"true","avro-add-list-element-records":"true","remove-crc-files":"false","Directory":"/"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"overwrite":{"name":"overwrite","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false},"remove-crc-files":{"name":"remove-crc-files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"permissions-umask":{"name":"permissions-umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"remote-group":{"name":"remote-group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"remote-owner":{"name":"remote-owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"b0c8dc53-1032-3d5e-97f3-9c18e73b9240","instanceIdentifier":"4a0fe108-5360-3a3e-ffce-0996b0e10b0a","name":"Parquet_Branch_RenameFile","comments":"","position":{"x":360.0,"y":639.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0"},"properties":{"Delete Attributes Expression":null,"filename":"disk_data_filtered.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"fd32d3b5-6297-37cd-98f4-acb50a460cb8","instanceIdentifier":"da9377e3-0800-3b75-dbd8-7c7a37afcafa","name":"ListenHTTP","comments":"","position":{"x":656.0,"y":71.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 GB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"listener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"5200"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"a3643667-4eb7-3404-8dc5-ce713b236de3","instanceIdentifier":"3a99d899-fe88-3342-9056-fd0c3d039af7","name":"PutCSV","comments":"","position":{"x":1008.0,"y":919.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.26.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/hdfs-config/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-config/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"3f17fe1a-ed28-3217-b007-e4e4d9d1f6df","instanceIdentifier":"7cc0ac93-a005-309d-199a-0f9bd9cefabe","name":"CSV_Branch_QueryRecord","comments":"","position":{"x":1008.0,"y":303.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","Query":"SELECT \"date\" , serial_number, model, failure, vault_id, s9_power_on_hours FROM FLOWFILE WHERE vault_id <> 'vault_id' AND s9_power_on_hours IS NOT NULL AND s9_power_on_hours <> ''","record-writer":"cbfb8ecb-acfb-3300-9363-d2a252d56173","record-reader":"fca27935-dfa5-3334-a2f5-120ad48923eb","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"ee17bd8e-f5c4-3ad2-83e9-bc3a7093c3b7","instanceIdentifier":"5ee7bcd6-aa31-3edc-ac99-54e2766496ec","name":"CSV_Branch_RenameFile","comments":"","position":{"x":1008.0,"y":639.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0"},"properties":{"Delete Attributes Expression":null,"filename":"disk_data_filtered.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"67122995-3a80-3ca1-9f36-5152c04e4aa8","instanceIdentifier":"8639594c-212d-3761-4aec-61897a34fdda","name":"Parquet_Branch_QueryRecord","comments":"","position":{"x":360.0,"y":311.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","Query":"SELECT \"date\" , serial_number, model, failure, vault_id, s9_power_on_hours FROM FLOWFILE WHERE vault_id <> 'vault_id' AND s9_power_on_hours IS NOT NULL AND s9_power_on_hours <> ''","record-writer":"1385e024-ab25-3d4d-b3a6-25c99ebeee6a","record-reader":"fca27935-dfa5-3334-a2f5-120ad48923eb","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"302f4615-0058-300e-b1a9-bb7df2681e4f","instanceIdentifier":"d00ae4ef-c7bc-3707-7e0e-794b893f7688","name":"","source":{"id":"ee17bd8e-f5c4-3ad2-83e9-bc3a7093c3b7","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"CSV_Branch_RenameFile","comments":"","instanceIdentifier":"5ee7bcd6-aa31-3edc-ac99-54e2766496ec"},"destination":{"id":"a3643667-4eb7-3404-8dc5-ce713b236de3","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"PutCSV","comments":"","instanceIdentifier":"3a99d899-fe88-3342-9056-fd0c3d039af7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"1d95de55-2b87-394c-be86-134485e788cb","instanceIdentifier":"a00530a0-ac93-1cc0-ec8c-2a4e46139436","name":"","source":{"id":"3f17fe1a-ed28-3217-b007-e4e4d9d1f6df","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"CSV_Branch_QueryRecord","comments":"","instanceIdentifier":"7cc0ac93-a005-309d-199a-0f9bd9cefabe"},"destination":{"id":"ee17bd8e-f5c4-3ad2-83e9-bc3a7093c3b7","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"CSV_Branch_RenameFile","comments":"","instanceIdentifier":"5ee7bcd6-aa31-3edc-ac99-54e2766496ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"bce79087-da05-3eaf-8f17-f05cc9e11226","instanceIdentifier":"019a7d4f-1796-31f8-a963-cc52dff5b576","name":"","source":{"id":"fd32d3b5-6297-37cd-98f4-acb50a460cb8","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"ListenHTTP","comments":"","instanceIdentifier":"da9377e3-0800-3b75-dbd8-7c7a37afcafa"},"destination":{"id":"3f17fe1a-ed28-3217-b007-e4e4d9d1f6df","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"CSV_Branch_QueryRecord","comments":"","instanceIdentifier":"7cc0ac93-a005-309d-199a-0f9bd9cefabe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"a70cbe4a-5d5d-359c-b1b5-46bc314a5a76","instanceIdentifier":"de4c8d71-183f-3519-10ec-fb38e0803521","name":"","source":{"id":"b0c8dc53-1032-3d5e-97f3-9c18e73b9240","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"Parquet_Branch_RenameFile","comments":"","instanceIdentifier":"4a0fe108-5360-3a3e-ffce-0996b0e10b0a"},"destination":{"id":"c27c29cb-a1fd-3d53-ab42-dd423a6ed52f","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"PutParquet","comments":"","instanceIdentifier":"48d4cc99-51c2-3773-1521-1c964014c1a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"cb74f150-c40e-3a79-8016-0b71e4e4ad8f","instanceIdentifier":"14154e8c-50c9-3f45-4032-14c41b43878e","name":"","source":{"id":"fd32d3b5-6297-37cd-98f4-acb50a460cb8","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"ListenHTTP","comments":"","instanceIdentifier":"da9377e3-0800-3b75-dbd8-7c7a37afcafa"},"destination":{"id":"67122995-3a80-3ca1-9f36-5152c04e4aa8","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"Parquet_Branch_QueryRecord","comments":"","instanceIdentifier":"8639594c-212d-3761-4aec-61897a34fdda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"be9f4256-657f-36d3-8b91-f11513c1142e","instanceIdentifier":"ac8de66f-7308-3aad-725e-93b8cd287f9a","name":"","source":{"id":"67122995-3a80-3ca1-9f36-5152c04e4aa8","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"Parquet_Branch_QueryRecord","comments":"","instanceIdentifier":"8639594c-212d-3761-4aec-61897a34fdda"},"destination":{"id":"b0c8dc53-1032-3d5e-97f3-9c18e73b9240","type":"PROCESSOR","groupId":"475a4750-73ea-3488-af7a-f472ba52242c","name":"Parquet_Branch_RenameFile","comments":"","instanceIdentifier":"4a0fe108-5360-3a3e-ffce-0996b0e10b0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"35d74be7-b606-3607-9003-e785a34940c3","instanceIdentifier":"dc44d4e9-c0f7-31c2-6646-dc56bfb702c0","name":"AvroSchemaRegistryFiltered","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.26.0"},"properties":{"avro-reg-validated-field-names":"true","diskDataFiltered":"{\n  \"type\": \"record\",\n  \"name\": \"diskDataFiltered\",\n  \"namespace\": \"nifi\",\n  \"fields\": [\n    {\"name\": \"date\", \"type\": \"string\"},\n    {\"name\": \"serial_number\", \"type\": \"string\"},\n    {\"name\": \"model\", \"type\": \"string\"},\n    {\"name\": \"failure\", \"type\": \"string\"},\n    {\"name\": \"vault_id\", \"type\": \"string\"},\n    {\"name\": \"s9_power_on_hours\", \"type\": \"string\"}\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"diskDataFiltered":{"name":"diskDataFiltered","displayName":"diskDataFiltered","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"e7db4bd2-41c9-3a06-80c6-14ce5052fadc","instanceIdentifier":"a11bd22e-2add-329d-a038-205b5177cb5f","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.26.0"},"properties":{"diskData":"{\n  \"type\": \"record\",\n  \"name\": \"diskData\",\n  \"namespace\": \"nifi\",\n  \"fields\": [\n    {\"name\": \"date\", \"type\": \"string\"},\n    {\"name\": \"serial_number\", \"type\": \"string\"},\n    {\"name\": \"model\", \"type\": \"string\"},\n    {\"name\": \"failure\", \"type\": \"string\"},\n    {\"name\": \"vault_id\", \"type\": \"string\"},\n    {\"name\": \"s1_read_error_rate\", \"type\": \"string\"},\n    {\"name\": \"s2_throughput_performance\", \"type\": \"string\"},\n    {\"name\": \"s3_spin_up_time\", \"type\": \"string\"},\n    {\"name\": \"s4_start_stop_count\", \"type\": \"string\"},\n    {\"name\": \"s5_reallocated_sector_count\", \"type\": \"string\"},\n    {\"name\": \"s7_seek_error_rate\", \"type\": \"string\"},\n    {\"name\": \"s8_seek_time_performance\", \"type\": \"string\"},\n    {\"name\": \"s9_power_on_hours\", \"type\": \"string\"},\n    {\"name\": \"s10_spin_retry_count\", \"type\": \"string\"},\n    {\"name\": \"s12_power_cycle_count\", \"type\": \"string\"},\n    {\"name\": \"s173_wear_leveling_count\", \"type\": \"string\"},\n    {\"name\": \"s174_unexpected_power_loss_count\", \"type\": \"string\"},\n    {\"name\": \"s183_sata_downshift_count\", \"type\": \"string\"},\n    {\"name\": \"s187_reported_uncorrectable_errors\", \"type\": \"string\"},\n    {\"name\": \"s188_command_timeout\", \"type\": \"string\"},\n    {\"name\": \"s189_high_fly_write_\", \"type\": \"string\"},\n    {\"name\": \"s190_airflow_temperature_cel\", \"type\": \"string\"},\n    {\"name\": \"s191_g_sense_error_rate\", \"type\": \"string\"},\n    {\"name\": \"s192_power_off_retract_count\", \"type\": \"string\"},\n    {\"name\": \"s193_load_unload_cycle_count\", \"type\": \"string\"},\n    {\"name\": \"s194_temperature_celsius\", \"type\": \"string\"},\n    {\"name\": \"s195_hardware_ecc_recovered\", \"type\": \"string\"},\n    {\"name\": \"s196_reallocated_event_count\", \"type\": \"string\"},\n    {\"name\": \"s197_current_pending_sector\", \"type\": \"string\"},\n    {\"name\": \"s198_offline_uncorrectable\", \"type\": \"string\"},\n    {\"name\": \"s199_udma_crc_error_count\", \"type\": \"string\"},\n    {\"name\": \"s200_multi_zone_error_rate\", \"type\": \"string\"},\n    {\"name\": \"s220_disk_shift\", \"type\": \"string\"},\n    {\"name\": \"s222_loaded_hours\", \"type\": \"string\"},\n    {\"name\": \"s223_load_retry_count\", \"type\": \"string\"},\n    {\"name\": \"s226_load_in_time\", \"type\": \"string\"},\n    {\"name\": \"s240_head_flying_hours\", \"type\": \"string\"},\n    {\"name\": \"s241_total_lbas_written\", \"type\": \"string\"},\n    {\"name\": \"s242_total_lbas_read\", \"type\": \"string\"}\n  ]\n}\n","avro-reg-validated-field-names":"true"},"propertyDescriptors":{"diskData":{"name":"diskData","displayName":"diskData","identifiesControllerService":false,"sensitive":false},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"1385e024-ab25-3d4d-b3a6-25c99ebeee6a","instanceIdentifier":"da278110-96c1-3108-f3c1-84e9bf0f4a06","name":"CSVRecordSetWriterSchemaFiltered","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"diskDataFiltered","schema-registry":"35d74be7-b606-3607-9003-e785a34940c3","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"83adce16-ca91-31aa-a733-35d64efad507","instanceIdentifier":"b0078eac-4477-3581-986c-f5c774689bbb","name":"AvroSchemaRegistryFilteredType","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.26.0"},"properties":{"avro-reg-validated-field-names":"true","diskDataFilteredType":"{\n  \"type\": \"record\",\n  \"name\": \"diskDataFiltered\",\n  \"namespace\": \"nifi\",\n  \"fields\": [\n    {\"name\": \"date\", \"type\": {\"type\": \"string\", \"logicalType\": \"timestamp-millis\", \"format\": \"yyyy-MM-dd'T'HH:mm:ss.SSS\"}},\n    {\"name\": \"serial_number\", \"type\": \"string\"},\n    {\"name\": \"model\", \"type\": \"string\"},\n    {\"name\": \"failure\", \"type\": \"int\"},\n    {\"name\": \"vault_id\", \"type\": \"int\"},\n    {\"name\": \"s9_power_on_hours\", \"type\": \"float\"}\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"diskDataFilteredType":{"name":"diskDataFilteredType","displayName":"diskDataFilteredType","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"fca27935-dfa5-3334-a2f5-120ad48923eb","instanceIdentifier":"5e968598-08f2-306f-7ad2-817e8983158e","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"false","schema-name":"${schema.name}","schema-registry":"e7db4bd2-41c9-3a06-80c6-14ce5052fadc","csv-reader-csv-parser":"jackson-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"cbfb8ecb-acfb-3300-9363-d2a252d56173","instanceIdentifier":"6b10af3e-188a-3106-6e30-06f74cda451e","name":"CSVRecordSetWriterSchemaFilteredType","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"diskDataFilteredType","schema-registry":"83adce16-ca91-31aa-a733-35d64efad507","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"},{"identifier":"60c81aef-64a2-3cd1-8803-e2e49f7749d8","instanceIdentifier":"3ace8ebb-b31c-3478-fad8-07afd2bad30b","name":"CSVReaderSchemaFilteredType","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"diskDataFilteredType","schema-registry":"83adce16-ca91-31aa-a733-35d64efad507","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"475a4750-73ea-3488-af7a-f472ba52242c"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}